@use '@/styles/variables.scss' as *;

.wrapper {
  position: relative;

  .input {
    width: 500px;
    border-radius: 5px;
    padding: 19px 20px;
    font-size: 18px;
    background-color: $controls-bg-input;
    color: $text-color-primary;
  }

  .error {
    border: 1px solid $accent-color;
  }

  .message {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 12px;
    color: $accent-color;
  }
}

@media (max-width: 768px) {
  .wrapper {
    .input {
      width: 100%;
    }
  }
}
