@use '@/styles/variables.scss' as *;

.teacherModal {
  .teacherBlock {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 20px;

    .teacherImg {
      width: 160px;
      height: auto;
    }

    .teacherInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .teacherName {
        font-size: 24px;
        font-weight: 600;
      }

      .teacherPost {
        font-size: 18px;
        color: $text-color-tertiary;
      }
    }
  }

  .teacherTabs {
    .navTabs {
      display: flex;
      font-size: 20px;
      border-bottom: $border-tabs;

      .navTabsBtn {
        display: flex;
        flex: 0 1 33.333%;
        padding: 20px 0;

        &:hover {
          color: $accent-color;
        }
      }

      .activeTab {
        color: $accent-color;
      }
    }

    .tabsContent {
      max-height: 370px;
      overflow-y: scroll;
      padding-bottom: 20px;

      &::after {
        position: absolute;
        content: '';
        width: 98%;
        height: 32px;
        bottom: 0;
        left: 0;
        background-image: $bg-color-tabs-blur;
      }

      .tabsContentInfo {
        margin-top: 20px;

        .tabsContenTitle {
          font-size: 24px;
          font-weight: 600;
          margin: 40px 0 20px 0;
        }

        .tabsContenText {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .teacherModal {
    .teacherBlock {
      gap: 10px;

      .teacherImg {
        width: 60px;
        height: 88px;
      }

      .teacherInfo {
        gap: 5px;

        .teacherName {
          font-size: 16px;
        }

        .teacherPost {
          font-size: 12px;
        }
      }
    }

    .teacherTabs {
      .tabsContent {
        height: auto;
        max-height: unset;
        padding-bottom: 0;

        &::after {
          content: none;
        }

        .tabsContentInfo {
          .tabsContenTitle {
            font-size: 16px;
            margin: 20px 0 10px 0;
          }

          .tabsContenText {
            font-size: 14px;
          }
        }
      }
    }
  }
}
